@charset "utf-8";
/* CSS Document */

body{
    background-color:blue;
    color: brown;
}
header{
    background-color: red;
}
#cabeceraweb{
    background-color: aquamarine;
}

#navegacionprincipal{
    background-color: #123;
}

#barralateral{
    background-color:#0F0 ;
    float:left;
    height: 800px;
}

#contenidoprincipal{
    background-color: #606;
    margin-left: 200px;
    padding-left: 15px;
    padding-top: 15px;
}

#pieprincipal{
    background-color: yellow;
    clear: both;
    margin-top: 20px;
}

footer{
    background-color: bisque;
}

li{
    background-color:#ff0;
    display: inline;
}


