@charset "utf-8";
/* CSS Document */

#video {
  width: 640px;
  margin: 20px auto;
  background-color: chocolate;
  padding: 5px;
  border: 2px solid black;
  border-radius: 8px;
}

nav {
  margin: 5px 0;
}

#botones {
  float: left;
  width: 100px;
  height: 20px;
}

#barra {
  background: #fff;
  width: 577px;
  height: 16px;
  border: 1px solid #666;
  padding: 1px;
  margin-left: 60px;
}

#progreso {
  position: absolute;
  width: 0px;
  height: 16px;
  background: rgba(0, 0, 150, 2);
}
